body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

header {
    background-color: #51b6fa;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.botoes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 30px;
}

.btn-local {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #51b6fa;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-local:hover {
    background-color: #3a9ed6;
}
